<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h3>Registro</h3>


				<form class="display-flex" th:action="@{/register}"
					th:object="${user}" method="post">
					<div class="form-group row ">
						<label for="inputname" class="col-sm-2  col-form-label">Nombres:</label>
						<input type="text" th:field="*{firstName}"
							class="form-control col-sm-9" id="inputname"
							placeholder="Nombres">
					</div>

					<div class="form-group row ">
						<label for="inputapellido"
							class="col-sm-2  col-form-label">Apellidos:</label> <input
							type="text" th:field="*{lastName}" class="form-control col-sm-9"
							id="inputapellido" placeholder="Apellidos">
					</div>

					<div class="form-group row ">
						<label for="inputnumber"
							class="col-sm-2  col-form-label">mobile:</label> <input
							type="text" th:field="*{mobile}" class="form-control col-sm-9"
							id="inputnumber" placeholder="Mobile Number">
					</div>

					<div class="form-group row ">
						<label for="inputemail"
							class="col-sm-2  col-form-label">Email:</label> <input
							type="text" th:field="*{email}" class="form-control col-sm-9"
							id="inputemail" placeholder="email">
					</div>

					<div class="form-group row ">
						<label for="inputname" class="col-sm-2  col-form-label">Password:</label>
						<input type="text" th:field="*{password}"
							class="form-control col-sm-9" id="inputname"
							placeholder="password">
					</div>

					<select th:field="*{role}" required>
						<option value="">Select</option>
						<option value="ADMIN">ADMIN</option>
						<option value="USER">USER</option>
					</select> <br />
					<br />
					<button type="submit" class="btn btn-danger">Registro</button>
					| <a th:href="@{|/login|}" th:text="'Login'"></a> <span
						th:utext="${successMessage}"></span>
					<div
						th:if="${bindingResult!=null && bindingResult.getAllErrors()!=null}">
						<ul th:each="data : ${bindingResult.getAllErrors()}">
							<li
								th:text="${data.getObjectName() + ' :: ' + data.getDefaultMessage()}"></li>
						</ul>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>